@tailwind base;
@tailwind components;
@tailwind utilities;

body 
{
    background-color: rgb(24 24 27);
    color: white;
}

html {
  scroll-behavior: smooth;
}

/* Custom scrollbar for webkit browsers */
::-webkit-scrollbar {
  width: 12px; /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #2D3748; /* Match the dark theme, zinc-800 from Tailwind */
  border-radius: 20px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background-color: #9B2C2C; /* Dark red, similar to bg-red-500 in Tailwind */
  border-radius: 20px; /* Rounded corners for the thumb */
  border: 3px solid #2D3748; /* Creates a slight border effect */
}

/* Optional: Style for scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #C53030; /* A lighter shade of red on hover */
}


/* Neon Glow Effect */
.neon-glow-on-hover {
  box-shadow: 0 0 5px #FF0000, /* Smaller, intense glow */
              0 0 15px #FF0000, /* Medium glow */
              0 0 30px #FF2844, /* Larger, diffused glow */
              0 0 45px #FF2844, /* Even more diffused glow */
              0 0 60px #FF2844; /* Outermost diffused glow */
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition for the glow effect */
}

@keyframes expandTop {
    from {
        height: 100vh;
      }
      to {
        height: var(--original-height-top, 100px); /* Adjust the default value as needed */
      }
  }
  
