@tailwind base;
@tailwind components;
@tailwind utilities;

body 
{
    background-color: rgb(233, 233, 233);
}

@keyframes expandTop {
    from {
        height: 100vh;
      }
      to {
        height: var(--original-height-top, 100px); /* Adjust the default value as needed */
      }
  }
  
